/* Style SCSS (CSS) */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header-page {
  width: 100%;
}

.header-page .container {
  background-image: url("../img/rectangle.png");
  background-repeat: no-repeat;
}

.burger {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region .location {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.menu-item {
  margin: 0 10px;
}

.menu-link {
  text-decoration: none;
  color: black;
}

.menu-link:hover {
  border-bottom: 3px solid black;
}

.account-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.account-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 212px;
}

.account-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: black;
}

.account-link:hover {
  border-bottom: 3px solid #1B749F;
}

.account-logo, .account-title {
  margin: 0 5px;
}

.menu-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-logo {
  margin: 11px;
}

.phone-item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 16px;
  margin: 4px 0;
}

.phone-link {
  text-decoration: none;
  color: black;
}

.phone-subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #777;
}

.call-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call {
  width: 152px;
  height: 40px;
  border: none;
  background-color: #1B749F;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.product-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 24px;
}

.product-search {
  width: 352px;
  height: 40px;
}

.product-submit {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #1B749F;
}

.svg-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.svg-icon {
  padding: 10px 0;
}

.menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #fff;
}

.submenu {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.submenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.submenu-item {
  margin-right: 40px;
}

.submenu-link {
  text-decoration: none;
  color: #fff;
}

.main-page .container {
  background-color: #E5E5E5;
}

.gallery {
  background-color: #fff;
  padding: 8px 64px;
  padding-bottom: 70px;
}

.banner {
  padding: 4px;
}

.market {
  background-color: #fff;
}

.market-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 28px;
  height: 56px;
}

.title-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
  border-bottom: 8px solid #1B749F;
}

.title-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-top: 8px solid #1B749F;
}

.market-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.market-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 16px;
  width: 272px;
}

.market-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.market-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #9E9E9E;
}

.market-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.shape-link {
  width: 272px;
  height: 176px;
}

.shape-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 23px;
  height: 36px;
}

.hits {
  background-color: #fff;
  padding-top: 24px;
}

.hits-title {
  position: absolute;
  margin-top: -6px;
  padding-left: 72px;
  padding-right: 12px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #fff;
}

.hits-separator {
  border: 4px solid #1B749F;
}

.hits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
}

.hits-item {
  width: 241px;
  height: 435px;
}

.hits-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.hits-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.star-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F1EA42;
}

.hits-feedback {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #757575;
}

.cost-actual, .cost-new {
  margin: 8px 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.cost-actual {
  color: #000;
}

.cost-new {
  color: #B03030;
}

.cost-old {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.btn-cart {
  width: 152px;
  height: 32px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
  background-color: #1B749F;
  color: #fff;
}

.feedback, .news, .brands {
  padding: 40px 72px;
  margin: 48px 0;
  background-color: #fff;
}

.feedback, .news, .feedback-video, .news-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback {
  background-color: #1B749F;
}

.feedback-content, .news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-content {
  color: #fff;
}

.feedback-text, .news-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.feedback-link, .news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.feedback-link {
  color: #fff;
}

.news-link {
  color: #000;
}

.feedback-link:hover, .news-link:hover {
  color: #B03030;
}

.video-item {
  margin-left: 24px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
  color: #fff;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 480px;
  width: 100%;
  background-image: url("../img/svg/russia_map.svg");
  background-repeat: no-repeat;
  background-position: top 9px right 0;
  margin-top: 30px;
}

.basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 455px;
}

.promo-text {
  margin-left: 257px;
  margin-top: 50px;
  width: 197px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #777;
}

.footer-request {
  margin-left: 30px;
}

.adress {
  margin-top: 24px;
  margin-left: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.adress-bold {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.social-message {
  margin-top: 24px;
  margin-left: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.contact-email, .contact-number {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
}

.contact-item {
  margin-left: 10px;
  margin-bottom: 24px;
}

.contact-item:nth-child(3) {
  margin-bottom: 17px;
}

.contact-timework {
  margin-left: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #777;
}

.catalog-title, .help-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.catalog, .help {
  margin-top: 32px;
}

.catalog-item, .help-item {
  margin: 16px;
}

.catalog-link, .help-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #777;
  text-decoration: none;
}

.catalog-link:hover, .help-link:hover {
  color: #1B749F;
}

.brand, .brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand-item {
  margin: 0 20px;
}

.visa {
  margin: 0;
}

.brand-separator {
  color: #1B749F;
  font-size: 30px;
}

.footer-bottom {
  margin-top: 35px;
  padding-bottom: 8px;
  width: 1080px;
}

.copyright {
  padding-top: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #777;
}
/*# sourceMappingURL=style.css.map */